SERPER_API_KEY=KEY # https://serper.dev/ (free tier)
BROWSERLESS_API_KEY=KEY # https://www.browserless.io/ (free tier)
MODEL='openhermes'
groq_api_key=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
$env:GROQ_API_KEY="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"